<div class="bg-light m-4 inline-center w-75 full-width-on-small-screen">
  <div class="card w-100 border-danger mb-3">
    <div class="bg-transparent w-100 text-center">
      <div class="d-relative inline-center full-width-on-small-screen">
        <img
          class="cursor-pointer full-width-on-small-screen"
          (click)="openFileUploading('file')"
          [src]="'../../../../assets/img/' + author.id + '.jpg'"
        />
        <div class="absolute-down bg-dark text-light w-100 p-2">
          <ng-content select="[title]"></ng-content>
        </div>
      </div>
    </div>
    <div>
      <input
        style="visibility: hidden"
        class="input-file-upload"
        type="file"
        id="file"
        #id
        name="file"
        formControlName="file"
      />
    </div>
    <div class="card-body text-danger">
      <p class="card-text text-dark">
        Total Comments : {{ author.totalComments }}
      </p>
      <p class="card-text text-dark">
        Total Publications : {{ author.totalPosts }}
      </p>
    </div>
    <div class="card-footer bg-transparent mt-4 text-left fw-bolder">
      Author Publications 
      -  <span> Number of articles : {{ articleList.length }} </span>
    </div>
    <div class="w-100">
      <table class="w-100">
        <tr>
          <td class="border bg-danger text-light">Title</td>
          <td class="border bg-danger text-light">Type</td>
          <td class="border bg-danger text-light">Date</td>
        </tr>
        <tr *ngFor="let item of articleList; let i = index">
          <ng-container
            *ngIf="i >= articePageNumber * 3 && i < (articePageNumber + 1) * 3"
          >
            <td class="border">{{ item.title }}</td>
            <td class="border">{{ item.type }}</td>
            <td class="border">{{ item.createdOn }}</td>
          </ng-container>
        </tr>
      </table>
   
      <div>
        <button
          class="bg-light"
          (click)="articePageNumber = li"
          *ngFor="
            let l of returnNumberToArrayForLoops(articleList.length / 3);
            let li = index
          "
        >
          <span
            [class.text-danger]="articePageNumber === li"
            class="m-1 rounded-circle"
            *ngIf="l === 'F'"
          >
            {{ li + 1 }}
          </span>
        </button>
      </div>
    </div>

    <div class="card-footer bg-transparent border-danger text-left fw-bolder">
      Author's Comments
       - <span>Number of comments : {{ commentList.length }}</span>
    </div>
    <div class="w-100">
      <table class="w-100">
        <tr>
          <td class="border bg-danger text-light">Title</td>
          <td class="border bg-danger text-light">Type</td>
          <td class="border bg-danger text-light">Date</td>
        </tr>
        <tr *ngFor="let item of commentList; let i = index">
          <ng-container
            *ngIf="
              i >= commentPageNumber * 3 && i < (commentPageNumber + 1) * 3
            "
          >
            <td class="border">{{ item.title }}</td>
            <td class="border">{{ item.user }}</td>
            <td class="border">{{ item.createdOn }}</td>
          </ng-container>
        </tr>
      </table>

      <div>
        <button
          class="bg-light"
          (click)="commentPageNumber = li"
          *ngFor="
            let l of returnNumberToArrayForLoops(commentList.length / 3);
            let li = index
          "
        >
          <span
            [class.text-danger]="commentPageNumber === li"
            class="m-1 rounded-circle"
            *ngIf="l === 'F'"
          >
            {{ li + 1 }}
          </span>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="m-4 inline-center w-75">
  <button class="cursor-pointer" (click)="returnToPArentComponent()">
    return
  </button>
</div>
